@import '~@schibstedspain/sui-theme/lib/settings';
@import '~@schibstedspain/sui-theme/lib/index';

.sui-AtomHelpText {
  color: $c-gray-light;
  display: block;
  font-size: $fz-xs;
  margin: $m-s 0 0;
}
